## Allowed syntax:
#
# <thing> (is|are|has|have) (in|on|under|near) <something>
# <thing> (has|have) <something>
# <attribute> of <thing> (is|are) <value>
# if you <verb> <thing> then <otherthing> is <something>
# if you <verb> <thing> and <thing> has <something> then <otherthing> is <something>
# if you <verb> <thing> then <otherthing> is <something> and <attribute> of <thirdthing> is <somethingelse>
# <thing> says "<message>"
#
## A <thing> can be "<article> <name>" where <article> in a|an|the|his|her|its|their|this|that
## A <thing> can be visible/invisible, locked/unlocked
 
you are in the bedroom
the bedroom says "the scope of the game is to get to the bathroom"
a green door is in the bedroom
the green door is locked
the green door leads to the bathroom
a cat is in the bedroom
the color of the cat is white
a table is in the bedroom
the cat is on the table
a blue key is in the bedroom
the blue key is under the table
the blue key is invisible
the cat is meowing
you can kick the table
if you poke the cat then the cat says "kick the table"
if you kick the table then the blue key is visible
if you use the blue key and you have the blue key then the green door is unlocked
the bathroom says "you made it here and won the game!"
